{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Operation:read.html.twig' %}

{% block operation %}

    {% stylesheets '@campaignchain_operation_twitter_css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {% include 'CampaignChainCoreBundle:Operation:field_header.html.twig' %}
        {% if tweet_is_protected or tweet_not_accessible %}
            <div class="status">{{ message|campaignchain_make_links|raw }}</div>
        {% else %}
            {{ message|raw }}
        {% endif %}
    {% include 'CampaignChainCoreBundle:Operation:field_footer.html.twig' %}

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{{ status.getUrl() }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link"></i> View on Twitter</a>
        </div>
    </div>

{% endblock %}

{% block sidebar_operation %}
    {% if tweet_is_protected %}
        <p><i class="fa fa-lock"></i> Protected</p>
    {% else %}
        <p><i class="fa fa-globe"></i> Public</p>
    {% endif %}
{% endblock %}