{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Operation:read.html.twig' %}

{% block operation %}

    {% stylesheets '@campaignchain_operation_twitter_css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {% include 'CampaignChainCoreBundle:Operation:field_header.html.twig' %}
        {% if tweet_is_protected or tweet_not_accessible %}
            <div class="status">{{ message|campaignchain_make_links|raw }}</div>
        {% else %}
            {{ message|raw }}
        {% endif %}
    {% include 'CampaignChainCoreBundle:Operation:field_footer.html.twig' %}

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{{ status.getUrl() }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link"></i> View on Twitter</a>
        </div>
    </div>

{% endblock %}

{% block sidebar_operation %}
    {% if tweet_is_protected %}
        <p><i class="fa fa-lock"></i> Protected</p>
    {% else %}
        <p><i class="fa fa-globe"></i> Public</p>
    {% endif %}
{% endblock %}