/*
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
*/

#campaignchain-operation-twitter-update-status .panel-default > .panel-heading {
    background-color: #6dbcdb;
    color: #fff;
    height: 41px;
}

#campaignchain-operation-twitter-update-status .panel-default > .panel-heading a {
    color: #fff;
}

#campaignchain-operation-twitter-update-status .panel-default > .panel-heading .fa {
    font-size: 22px;
}

#campaignchain-operation-twitter-update-status .panel-body {
    background-color: #f8f8f8;
}